.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    width: 300px;
    background-color: rgba(108, 107, 114, 0.493);
    border-radius: 5px;        
}

.status {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.onLine {
    composes: status;
    background-color: rgb(102, 211, 70);
}

.ofLine {
    composes: status;
    background-color: rgb(255, 68, 68);
}

.name {
    font-size: 16px;
    font-weight: 700;
}